:host {
  display: block;
  min-width: 640px;
  padding-top: 36px;
  left: 0;

  .win-head {
    right: 0;
  }

  .win-main-report {
    position: relative;
    top: 0;
    bottom: 0;

    div.box-paper {
      position: relative;
      padding: 0;
      margin-right: 1px;

      .report-officer.filler {
        width: 345px;
      }

      .icon-34x34-building-church {
        transform: scale(0.875);

        &.hidden {
          opacity: 0.3;
        }
      }

      input {
        max-width: 100%;
        background-color: rgba(255,255,255,0.5);
        border: none;
        text-align: center;
        outline: none;
      }
    }
  }
}
